<!DOCTYPE html>
<html lang="en">
<head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Document</title>
       <link rel="stylesheet" href="/css/myCart.css">
</head>
<body>
     <form action="" method="post">  
          <div class="checkout">
  <div class="container checkout-container">
    <div class="checkout-title">
      
     
    </div>
    <div class="checkout-order">
     
      </div>
        
     
     <div class="checkout-col bill-col">
        <h3 class="checkout-col-headline">Payment Details
          <i class="checkout-icon fa fa-angle-up"></i></h3> 
          
        <div class="checkout-col-inner checkout-col-bottom gray-bg">
          <div class="bill-credit-inner gray-bg">
            <div class="checkout-bill-credit">
              <input type="radio" /><span class="bold-text bill-credit-title">Credit Card</span>
            </div>
          </div>
          <div class="bill-col-inner">
          <div class="order-row">
              <span class="bill-full-col">
                <label class="bold-text p-small">Card numbers</label>
                <input class="checkout-input" type="text" />
              </span>
              </div>
            
            <div class="order-row">
              <span class="bill-small-col">
                <label class="bold-text p-small" for="first-name">Expiration Date</label>
                <input class="checkout-input" type="text" />
              </span>
              <span class="bill-small-col">
                <label class="bold-text p-small" for="last-name">CVV</label>
                <input class="checkout-input" type="text" />
              </span>
              </div>
            <div class="order-row">
              <span class="bill-full-col">
                <label class="bold-text p-small">Name on Card</label>
                <input class="checkout-input" type="text" />
              </span>
              </div>
            <div class="order-row">
              <span class="bill-full-col">
                <input type="checkbox">Remember for next time?
              </span>
              </div>
            <div class="order-row">
              <div class="checkout-button">
                <button class="black-button bold-text red-bg">Place Order</button>
              </div>
            </div>
              <div class="checkout-title-notice">
        <span class="checkout-title-text p-small">By completing your purchase, you agree to these </span>
        <a href="#" class="checkout-title-text red-text p-small">Terms and Conditions</a>
      </div>
          </div>
          <div class="checkout-col-inner ">
          <div class="bill-credit-inner">
            <div class="checkout-bill-credit">
              <input type="radio" /><span class="bold-text bill-credit-title">PayPal</span>
            </div>
          </div>
          <div class="bill-col-inner">
            <div class="order-row">
              <div class="checkout-button">
                <button class="black-button bold-text red-bg">Proceed to Paypal</button>
              </div>
            </div>
              <div class="checkout-title-notice">
                  <span class="checkout-title-text p-small">By completing your purchase, you agree to these </span>
                    <a href="#" class="checkout-title-text red-text p-small">Terms and Conditions</a>
           </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</form>
</body>

</html>